body {
   background-color: #000000;
   color: #ffffff;
   margin: 0px;
   font-size: 100%;
   line-height:1.125em;
}

img.logo {
   width: 100px;
   height: 91px;
   float: left;
}

div.one {
   height: 91px;
}

div.two {
   clear: both;
   width: 95%;
   height: 95%;
   border-top: 8 solid white;
   border-left: 8 solid white;
   margin-left: 46px;
}

div.horcorner {
   height:20px;
   width:20px;
   float: left;
   background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #000000), color-stop(1, #5E0C0C));
}

div.horGrad {
   height:20px;
   width:100%;
   background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #5E0C0C));
}
div.horvert {
   clear: left;
   float: left;
   width: 20px;
   height: 95%;
   background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #000000), color-stop(1, #5E0C0C));
}
span.now {
}

span.toc {
   padding-left: 30px;
   color: white;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
   font-size: 1.5em;
   line-height: 3.75em;
}

div.content {
   padding-top: 10px;
   padding-left: 30px;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

a:link { color:white;}
a:visited { color:white;}

span.toc a:link {text-decoration:none;
   color: white;
}
span.toc a:visited {text-decoration:none;
   color: white;
}
span.toc a:hover {text-decoration:underline;}
span.toc a:active {text-decoration:underline;}

img.talkimage {
   float: left;
   width: 200px;
   height: 200px;
   padding-right: 10px;
}

div.talk {
   border: 2px solid gray;
   background-color: #bbbbbb;
   color: black;
   padding: 10px;
   width: 95%;
}

h2.talkTitle {
   margin-left: 10px;
}

div.talk p {
   padding-left: 10px;
}

ul.deliveries {
   margin-left: 210px;
}

a.material {
    padding-top: 5px;
   padding-left: 20px;
}
