<html>
<head>
<title>JessiTRON</title>
<link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
<a href="http://jessitron.com"><img class="logo" src="images/jess.png" /></a>
<div class="one">
{% if page.name == "home" %}
<span class="toc now">-<a href="index.html">Jessitron</a>-</span>
{% else %}
<span class="toc">&nbsp;<a href="index.html">Jessitron</a>&nbsp;</span>
{% endif %}

{% if page.name == "gitworkshop" %}
<span class="toc now">-<a href="gitworkshop.html">Git Training</a>-</span>
{% else %}
<span class="toc">&nbsp;<a href="gitworkshop.html">Git Training</a>&nbsp;</span>
{% endif %}

{% if page.name == "talks" %}
<span class="toc now">-<a href="talks.html">Talks</a>-</span>
{% else %}
<span class="toc">&nbsp;<a href="talks.html">Talks</a>&nbsp;</span>
{% endif %}

{% if page.name == "contact" %}
<span class="toc">-<a href="contact.html">Contact</a>-</span>
{% else %}
<span class="toc">&nbsp;<a href="contact.html">Contact</a>&nbsp;</span>
{% endif %}

<span class="toc"><a href="http://blog.jessitron.com">Blog&#8680</a></span>

</div>
<div class="two">
 <div class="horcorner"></div>
 <div class="horGrad"></div>
 <div class="four">
  <div class="horvert"></div>
  <div class="content"> {{ content }} </div>
</div></div>
</body>
</html>
